eureka:
  client:
    serviceUrl:
      defaultZone : http://localhost:8011/eureka/,http://eureka-secondary:8012/eureka/,http://eureka-tertiary:8013/eureka/
management:
  endpoints:
    web:
      exposure:
        include: "*"
---
spring:
  profiles: subject
words: I,You,He,She,It
server:
  port: 0

---
spring:
  profiles: verb
words: ran,knew,had,saw,bought
server:
  port: 0

---
spring:
  profiles: article
words: a,the
server:
  port: 0
  
---
spring:
  profiles: adjective
words: reasonable,leaky,suspicious,ordinary,unlikely
server:
  port: 0
  
---
spring:
  profiles: noun
words: boat,book,vote,seat,backpack,partition,groundhog
server:
  port: 0
